{% extends "base.html" %}

{% block content %}
    <h1>{{page_title}}</h1>
    
    

    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}
        {% if author %}
            <ul class='no_bullets'>
            
                {% for blog in blogs %}
            
                <li><b><a href='/post?blog_id={{blog.id}}' >   {{blog.title}}  </a> </b>
                <br>
                {{blog.text}}
                <br>
                written by <a href="blog?user_id={{blog.owner.id}}">{{user.username}}</a>
                <br><br>
                </li>
                {% endfor %}  
            </ul>
        
        {% else %}
            <ul class='no_bullets'>
            
                {% for blog in blogs %}
            
            
                <li><b><a href='/post?blog_id={{blog.id}}' >   {{blog.title}}  </a> </b>
                <br>
                {{blog.text}}
                <br>
                written by <a href="blog?user_id={{blog.owner.id}}">{{blog.owner.username}}</a>
                <br><br>
                </li>
                {% endfor %}  
            </ul>
        {% endif %}
    {% endif %}

    
{% endblock %}